.trending_list {
	width: 65vw;
	margin-left: 280px;
}

.titletrending_products {
	margin-left: 370px;
}

.categories_list {
	justify-content: space-evenly;
}

.home_page {
	padding-bottom: 10vh;
}
body {
	overflow-x: hidden;
}
