.footer_product {
	height: 9vh;
	width: 100vw;
	display: flex;
	background-color: rgb(217, 232, 154);
	position: fixed;
	justify-content: center;
	bottom: 0;
	align-items: center;
}

.footer_product a {
	color: black;
	font-size: 15px;
	text-decoration: none;
	margin: 10px;
}
